.main-content {
  position: relative;

  // Navbar
  .navbar-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  // Container
  .container-fluid {
    @include media-breakpoint-up(md) {
      padding-left: (
        $main-content-padding-x + $grid-gutter-width / 2
      ) !important;
      padding-right: (
        $main-content-padding-x + $grid-gutter-width / 2
      ) !important;
      padding-top: 125px !important;
    }
  }
}

// Offsets the main content depending on the sidebar positioning

.navbar-vertical.navbar-expand {
  @each $breakpoint, $dimension in $grid-breakpoints {
    &-#{$breakpoint} {
      @include media-breakpoint-up(#{$breakpoint}) {
        // Left
        &.fixed-left + .main-content {
          margin-left: $navbar-vertical-width;
        } // Right
        &.fixed-right + .main-content {
          margin-right: $navbar-vertical-width;
        }
      }
    }
  }
}

.powerleft {
  width: 50%;
  height: 100px;
  background-position: 90%;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: 50%;
}
.powerright {
  width: 50%;
  height: 100px;
  background-position: 10%;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: 50%;
}

.list {
  display: block;
  margin-top: 10px;
}

.logohead {
  width: 100%;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.liquidether {
  margin-top: 50px;
  text-align: center;
}

.lpreturns {
  margin: 0 auto;
  width: 50%;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tablefooter {
  font-size: 0.75rem;
}

.zap {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.poolselect {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.connectbutton {
  width: 75%;
  margin: 0 auto;
}

.providebutton {
  width: 50%;
}

.ethinput {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.ethinputbox {
  width: 100%;
}

.labelimg {
  vertical-align: center;
  align-content: center;
}

.zapheader h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.about {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.disclaimer {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.abouticon {
  display: inline-block;
  margin-bottom: 20px;
}

.disclaimericon {
  display: inline-block;
  color: red;
  margin-bottom: 20px;
}

.aboutcontent {
  text-align: left;
}

.disclaimercontent {
  text-align: left;
}

.navbar-vertical .navbar-nav .nav-link > i {
  margin-bottom: 10px;
}

.spinny {
  text-align: center;
  margin-top: 5em;
}

.wallet {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}
